body{
    background-color: #86141c;
}

header{
    background-color: #780821;
    padding: 8px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.emprestimo, .config {
    display: flex;
    align-items: center;
    gap: 20px;
}
.emprestimo:hover{
    cursor: pointer;
}

.config:hover{
    cursor: pointer;
}

#login:hover{
    cursor: pointer;
}

#logo{
    width:80px;
}

#emprestar{
    background-color: #3d0000;
    color: #efe4dc;
    font-size: 40px;
    text-decoration:none;
    border-radius: 10px;
    display: block;
}

#login{
    background-color: transparent;
    color: #efe4dc;
    font-size: 35px;
    border: 0px;
    display: block;
}
.botoes{
    display: flex;
    justify-content: space-around;
}

.botoes__itens{
    background-color:#3d0000;
    color: #efe4dc;
    border-radius: 12px;
    border: none;
    font-size: 30px;
}
.botoes__itens:hover{
    cursor: pointer;
}

#formularioEmprestimo {
    color: #efe4dc;
    font-size: 30px;
}